In [1]:
import numpy as np

def calculate(list):
    if len(list) < 9:

        raise ValueError ('List must contain nine numbers.')

    else:
        list = np.array(list).reshape(3, 3)

    calculations = {'mean': [np.mean(list,0), np.mean(list,1), np.mean(list)],

    'variance': [np.var(list,0), np.var(list,1), np.var(list)],

    'standard deviation': [np.std(list,0), np.std(list,1), np.std(list)],

    'max': [np.max(list,0), np.max(list,1), np.max(list)],

    'min':[np.min(list,0), np.min(list,1), np.min(list)],

    'sum': [np.sum(list,0), np.sum(list,1), np.sum(list)]

}

    return calculations

In [2]:
# Example usage
if __name__ == "__main__":
    result = calculate([0, 1, 2, 3, 4, 5, 6, 7, 8])
    print(result)

{'mean': [array([3., 4., 5.]), array([1., 4., 7.]), 4.0], 'variance': [array([6., 6., 6.]), array([0.66666667, 0.66666667, 0.66666667]), 6.666666666666667], 'standard deviation': [array([2.44948974, 2.44948974, 2.44948974]), array([0.81649658, 0.81649658, 0.81649658]), 2.581988897471611], 'max': [array([6, 7, 8]), array([2, 5, 8]), 8], 'min': [array([0, 1, 2]), array([0, 3, 6]), 0], 'sum': [array([ 9, 12, 15]), array([ 3, 12, 21]), 36]}

In [3]:
import numpy as np

def calculate(lst):
    # Check if the input list has exactly 9 elements
    if len(lst) != 9:
        raise ValueError("List must contain nine numbers.")

    # Convert the list into a 3x3 NumPy array
    matrix = np.array(lst).reshape(3, 3)

    # Calculate the required statistics
    calculations = {
        'mean': [
            np.mean(matrix, axis=0).tolist(),  # Mean of columns
            np.mean(matrix, axis=1).tolist(),  # Mean of rows
            np.mean(matrix).tolist()           # Mean of the flattened matrix
        ],
        'variance': [
            np.var(matrix, axis=0).tolist(),   # Variance of columns
            np.var(matrix, axis=1).tolist(),   # Variance of rows
            np.var(matrix).tolist()            # Variance of the flattened matrix
        ],
        'standard deviation': [
            np.std(matrix, axis=0).tolist(),   # Standard deviation of columns
            np.std(matrix, axis=1).tolist(),   # Standard deviation of rows
            np.std(matrix).tolist()            # Standard deviation of the flattened matrix
        ],
        'max': [
            np.max(matrix, axis=0).tolist(),   # Max of columns
            np.max(matrix, axis=1).tolist(),   # Max of rows
            np.max(matrix).tolist()            # Max of the flattened matrix
        ],
        'min': [
            np.min(matrix, axis=0).tolist(),   # Min of columns
            np.min(matrix, axis=1).tolist(),   # Min of rows
            np.min(matrix).tolist()            # Min of the flattened matrix
        ],
        'sum': [
            np.sum(matrix, axis=0).tolist(),   # Sum of columns
            np.sum(matrix, axis=1).tolist(),   # Sum of rows
            np.sum(matrix).tolist()            # Sum of the flattened matrix
        ]
    }

    return calculations

# Example usage
if __name__ == "__main__":
    result = calculate([0, 1, 2, 3, 4, 5, 6, 7, 8])
    print(result)

{'mean': [[3.0, 4.0, 5.0], [1.0, 4.0, 7.0], 4.0], 'variance': [[6.0, 6.0, 6.0], [0.6666666666666666, 0.6666666666666666, 0.6666666666666666], 6.666666666666667], 'standard deviation': [[2.449489742783178, 2.449489742783178, 2.449489742783178], [0.816496580927726, 0.816496580927726, 0.816496580927726], 2.581988897471611], 'max': [[6, 7, 8], [2, 5, 8], 8], 'min': [[0, 1, 2], [0, 3, 6], 0], 'sum': [[9, 12, 15], [3, 12, 21], 36]}

Demographic Data Analyzer

In [22]:
import pandas as pd

adult = pd.read_csv('certificate/adult.csv')

adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [23]:
# Replace '?' with NaN
adult.replace('?', np.nan, inplace=True)

# Drop rows with NaN values
adult.dropna(inplace=True)

print(adult)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[30162 rows x 15 columns]

In [5]:
#How many people of each race are represented in this dataset?  
raceP = adult.groupby('race').count()

raceP

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
Amer-Indian-Eskimo,311,311,311,311,311,311,311,311,311,311,311,311,311,311
Asian-Pac-Islander,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039
Black,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124
Other,271,271,271,271,271,271,271,271,271,271,271,271,271,271
White,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816

In [6]:
#What is the average age of men?
men_age = adult[adult['sex'] == 'Male']

# Calculate the average age of men
average_age_men = men_age['age'].mean()

print(f"The average age of men is: {average_age_men}")

The average age of men is: 39.43354749885268

In [7]:
#What is the percentage of people who have a Bachelor's degree?
av_bachelors = adult[adult['education'] == 'Bachelors']

# Calculate the number of people with a Bachelor's degree
num_bachelors = len(av_bachelors)

# Calculate the total number of people
total_people = len(adult)

# Calculate the percentage of people with a Bachelor's degree
percentage_bachelors = (num_bachelors / total_people) * 100

print(f"The percentage of people with a Bachelor's degree is: {percentage_bachelors:.2f}%")

The percentage of people with a Bachelor's degree is: 16.45%

In [8]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education = adult[adult['education'].isin(['Bachelors', 'Masters', 'Doctorate'])] 

advanced_education = advanced_education.loc[(advanced_education['salary'] > '>50')]

# Calculate the number of people with a Bachelor's, Masters, or Doctorate degree
num_education = len(advanced_education)

# Calculate the total number of people
total_population = len(adult)

# Calculate the percentage of people with a Bachelor's, Masters, or Doctorate degree
percentage_total = (num_education / total_population) * 100

print(f"The percentage of people with a salary higher than 50k: {percentage_total:.2f}%")

advanced_education

The percentage of people with a salary higher than 50k: 10.71%

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [9]:
#What percentage of people without advanced education make more than 50K?
non_education = adult[~adult['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
not_education = non_education.loc[(non_education['salary'] > '>50')]

numnot_education = len(not_education)

# Calculate the total number of people
total_population = len(adult)

# Calculate the percentage of people with a Bachelor's, Masters, or Doctorate degree
percentage_total = (numnot_education / total_population) * 100

not_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [33]:
#What is the minimum number of hours a person works per week?
minvalue = adult['hours-per-week'].min() 
minvalue

1

In [13]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
# Filter the DataFrame to include only people who work the minimum number of hours per week
min_hours_df = adult[adult['hours-per-week'] == minvalue]

# Calculate the number of people who work the minimum number of hours per week
total_min_hours = len(min_hours_df)

# Calculate the number of people who work the minimum number of hours per week and have a salary of more than 50K
min_hours_high_salary = min_hours_df[min_hours_df['salary'] > '>50']
count_min_hours_high_salary = len(min_hours_high_salary)

# Calculate the percentage
percentage = (count_min_hours_high_salary / total_min_hours) * 100

print(f"The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is {percentage:.2f}%.")

The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is 10.00%.

In [53]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
high_earners_df = adult[adult['salary'] > '>50']

total_people_per_country = adult['native-country'].value_counts()

In [55]:
# Calculate the number of people earning more than 50K in each country
high_earners_per_country = high_earners_df['native-country'].value_counts()

# Calculate the percentage of high earners in each country
percentage_high_earners_per_country = (high_earners_per_country / total_people_per_country) * 100

# Identify the country with the highest percentage
highest_percentage_country = percentage_high_earners_per_country.idxmax()
highest_percentage = percentage_high_earners_per_country.max()

print(f"The country with the highest percentage of people earning more than 50K is {highest_percentage_country} with {highest_percentage:.2f}%.")

The country with the highest percentage of people earning more than 50K is Taiwan with 45.24%.

In [68]:
#Identify the most popular occupation for those who earn >50K in India.
high_earners_india_df = adult[(adult['salary'] > '>50') & (adult['native-country'] == 'India')]

most_popular_occupation = high_earners_india_df['occupation'].mode()[0]

high_earners_india_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1327,52,Private,168381,HS-grad,9,Widowed,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,India,>50K
7258,42,State-gov,102343,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,72,India,>50K
7285,54,State-gov,93449,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
8124,36,Private,172104,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Other,Male,0,0,40,India,>50K
9939,43,Federal-gov,325706,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
10590,35,Private,98283,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,India,>50K
10661,59,Private,122283,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,99999,0,40,India,>50K
10736,30,Private,243190,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,20,India,>50K
11260,54,Private,225599,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,40,India,>50K
11384,34,Private,98283,Prof-school,15,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,1564,40,India,>50K
13422,53,Private,366957,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,50,India,>50K
13551,40,Private,220977,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
13862,45,Private,209912,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16017,41,Private,207578,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,50,India,>50K
16778,43,Private,242968,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16923,41,Private,143003,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,7298,0,60,India,>50K
17259,57,Self-emp-inc,123053,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,50,India,>50K
17834,29,Self-emp-not-inc,341672,HS-grad,9,Married-spouse-absent,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,1564,50,India,>50K
20417,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,2201,60,India,>50K
20465,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
21128,30,Private,122889,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
23474,55,State-gov,120781,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
24154,46,Private,229737,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,India,>50K
25739,35,Self-emp-inc,79586,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26305,27,Private,207352,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26356,34,Private,99872,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
27670,61,Private,80896,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,India,>50K
28264,51,Self-emp-not-inc,120781,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Other,Male,99999,0,70,India,>50K
28433,42,Private,198341,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1902,55,India,>50K
28452,53,Private,70387,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4386,0,40,India,>50K
28557,34,Private,165737,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,43,India,>50K
28651,45,Self-emp-not-inc,216402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
28798,30,Self-emp-not-inc,116666,Masters,14,Divorced,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,>50K
30111,41,Federal-gov,219155,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,India,>50K
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K